body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    padding: 0 20%;
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
}
.content-body {
    flex: 1;
    padding-top: 52px;
}

/* --------------- AUTH --------------- */
@import url(./styles/auth.css);

/* --------------- HEADER --------------- */
@import url(./styles/header.css);

/* --------------- PROFILE --------------- */
@import url(./styles/profile.css);

/* --------------- POSTS --------------- */
@import url(./styles/posts.css);

/* --------------- EXPLORE --------------- */
@import url(./styles/explore.css);
