/* 1. Posts - Home */
.post-header-right {
    cursor: pointer;
}

.post-comment i,
.post-interact i {
    font-size: 24px;
}

.post-interact i:hover {
    opacity: 0.5;
    cursor: pointer;
}

.post-comment > span,
.post-content > p {
    word-break: break-all;
}

.seemore {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.seemore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.view-comment:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post-comment input {
    background: none;
    border: none;
    outline: none;
}

.post-comment input:focus {
    box-shadow: none;
}

.post-comment button {
    background: none;
    color: rgb(38, 164, 247);
    border: none;
}

.post-comment button:disabled,
.post-comment button:active,
.post-comment button:focus,
.post-comment button:hover {
    background: none;
    color: rgb(38, 164, 247);
    box-shadow: none;
}

.no-post > div {
    width: 100px;
    height: 100px;
    border: 3px solid gray;
}

.no-post > div > i {
    font-size: 50px;
}

/* .home-right {
    flex: 0.55;
    padding-top: 52px;
    height: 500px;
    position: sticky;
    top: 60px;
}

.home-right-profileName {
    color: #333;
    text-decoration: none;
}

.home-right-profileName:hover {
    color: #333;
    text-decoration: underline;
}

.home-right-top button {
    background: none;
    color: rgb(38, 164, 247);
    border: none;
    letter-spacing: -1px;
}

.btn-seeAll {
    background: none;
    color: gray;
    border: none;
    letter-spacing: -1px;
}

.btn-seeAll:focus,
.btn-seeAll:hover {
    background: none;
    color: gray;
    opacity: 0.8;
    box-shadow: none;
}

.home-right-top button:focus,
.home-right-top button:hover {
    background: none;
    color: rgb(38, 164, 247);
    opacity: 0.8;
    box-shadow: none;
}

.btn-visit {
    min-width: 150px;
    border-radius: 10px;
    letter-spacing: 4px;
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    border: none;
}

.home-right-bottom {
    font-size: 12px;
    color: lightgray;
    font-weight: 600;
} */

/* 2. Add Post Modal */
.add-post-modal .modal-content {
    min-width: 800px;
    flex-direction: row;
}

.add-post-modal > .modal-dialog-centered {
    justify-content: center;
}

.add-post-modal .modal-title {
    font-size: 16px;
}

.add-post-modal textarea {
    resize: none;
    border: none;
}

.add-post-modal textarea:focus,
.add-post-modal select:focus,
.add-post-modal input:focus {
    box-shadow: unset;
}

.add-post-modal .add-post-btn {
    border: none;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.add-post-modal .add-post-btn:hover,
.add-post-modal .add-post-btn:focus {
    box-shadow: unset;
    opacity: 0.8;
}

.add-post-image > i,
.add-post-image > div {
    cursor: pointer;
}

.add-post-image i {
    font-size: 40px;
}

.add-post-image #file {
    opacity: 0;
}

/* 3. Carousel add post */
.carousel-add-post .carousel-inner {
    height: 100%;
}

.stream > i,
.show-add-post-images .add-post-img i {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
    z-index: 4;
    font-weight: 700;
    font-size: 30px;
    box-shadow: unset !important;
}

.stream > i:hover,
.show-add-post-images .add-post-img i:hover {
    opacity: 0.8;
}

/* 4. Action Post Modal */
.action-post-modal .modal-content {
    width: 400px;
}

.action-post-modal > .modal-dialog-centered {
    justify-content: center;
}

.action-post-modal button {
    background: none;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 14px;
}

.action-post-modal button:active,
.action-post-modal button:focus,
.action-post-modal button:hover {
    background: none;
    opacity: 0.8;
    box-shadow: none;
}

/* 5. Delete Post Modal */
.delete-post-modal .modal-content {
    width: 300px;
    border: 2px solid lightgrey;
}

.delete-post-modal > .modal-dialog-centered {
    justify-content: center;
}

.delete-post-modal .modal-title {
    font-size: 16px;
}

.delete-post-modal button {
    background: none;
    color: gray;
    border: none;
}

.delete-post-modal button:active,
.delete-post-modal button:hover,
.delete-post-modal button:focus {
    background: none;
    color: gray;
    opacity: 0.8;
    box-shadow: none;
}

/* 6. Comment Modal */
.comment-modal .modal-content {
    min-width: 1000px;
    height: 616px;
    flex-direction: row;
}

.comment-modal > .modal-dialog-centered {
    justify-content: center;
}

.comment-modal .modal-body {
    height: 400px;
    overflow-y: auto;
}

.comment-modal .modal-body > div:first-child {
    margin-top: 0 !important;
}

.comment-last {
    background-color: rgb(243, 243, 243);
}

/* 7. Single Comment */
.comment {
    background-color: rgb(243, 243, 243);
}

.edit-comment-input {
    background-color: white;
    border: none;
    outline: none;
    resize: none;
}

.comment-right-icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.comment .tag-name {
    font-weight: 600;
}

.comment .tag-name:hover {
    text-decoration: underline !important;
}

/* ************** Tablet and Mobile ************** */
@media (max-width: 1023px) {
    /* 1.Add post modal */
    .add-post-modal .modal-content {
        flex-direction: column;
        min-width: unset;
    }

    .add-post-modal textarea {
        height: 6em;
    }

    /* 2. Comment modal */
    .comment-modal .modal-content {
        flex-direction: column;
        min-width: unset;
        height: unset;
    }
}

/* ************** Tablet Responsive ************** */
@media (min-width: 768px) and (max-width: 1023px) {
    /* 1.Add post modal */
    .add-post-modal .show-add-post-images {
        height: 300px;
    }
}

/* ************** Mobile Responsive ************** */
@media (max-width: 768px) {
    /* 1.Add post modal */
    .add-post-modal .show-add-post-images {
        height: 200px;
    }
}
