/* 1. Profile */
.profile-top-left {
    width: 36%;
}

.img-cover {
    object-fit: cover;
}

.followers-modal a > button,
.profile-top-right button {
    background: none;
    border-color: lightgrey;
    padding: 2px 8px !important;
    font-weight: 600;
}

.followers-modal a > button:focus,
.followers-modal a > button:active,
.followers-modal a > button:hover,
.profile-top-right button:focus,
.profile-top-right button:active,
.profile-top-right button:hover {
    background: none;
    border-color: lightgrey;
    box-shadow: unset;
    opacity: 0.8;
}

.btn-follow {
    padding: 2px 8px !important;
    background-color: #06bcfb !important;
    background-image: linear-gradient(
        315deg,
        #06bcfb 0%,
        #4884ee 74%
    ) !important;
    min-width: 100px;
    border: none;
}

.btn-follow:active,
.btn-follow:focus,
.btn-follow:hover {
    background-color: #06bcfb !important;
    background-image: linear-gradient(
        315deg,
        #06bcfb 0%,
        #4884ee 74%
    ) !important;
    opacity: 0.8;
    border: none;
    box-shadow: unset;
}

.btn-unfollow {
    padding: 2px 8px !important;
    background-color: #f71735 !important;
    background-image: linear-gradient(
        147deg,
        #f71735 0%,
        #db3445 74%
    ) !important;
    min-width: 100px;
    border: none;
}

.btn-unfollow:active,
.btn-unfollow:focus,
.btn-unfollow:hover {
    background-color: #f71735 !important;
    background-image: linear-gradient(
        147deg,
        #f71735 0%,
        #db3445 74%
    ) !important;
    opacity: 0.8;
    border: none;
    box-shadow: unset;
}

.profile-top-right i {
    font-size: 24px;
}

.profile-middle-top button {
    background: none;
    border: none;
    border-radius: unset;
}

.profile-middle-top button:focus,
.profile-middle-top button:active,
.profile-middle-top button:hover {
    background: none;
    border: none;
    box-shadow: unset;
}

.profile-bottom {
    font-size: 13px;
    color: gray;
}

.show-modal-follow:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* 2. Update User Modal */
.update-user-modal .modal-title {
    font-size: 16px;
}

.update-user-modal label {
    flex: 0.3;
}

.update-user-modal textarea {
    resize: none;
}

.update-user-modal textarea,
.update-user-modal select,
.update-user-modal input {
    flex: 1;
}

.update-user-modal textarea:focus,
.update-user-modal select:focus,
.update-user-modal input:focus {
    box-shadow: unset;
}

.update-user-modal .update-user-btn {
    border: none;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.update-user-modal .update-user-btn:hover {
    opacity: 0.8;
}

.update-user-modal .update-user-btn:focus {
    box-shadow: unset;
}

.profile-avatar {
    width: 100px;
    height: 100px;
}

.choose-avatar {
    bottom: -100%;
    left: 24%;
    transition: 0.5s ease-in-out;
}

.profile-avatar:hover {
    cursor: pointer;
}

.profile-avatar:hover .choose-avatar {
    bottom: 20%;
}

.choose-avatar input {
    position: absolute;
    top: 0;
    opacity: 0;
}

.btn-cancel {
    border: none;
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}

.btn-cancel:hover {
    opacity: 0.8;
}

.btn-cancel:focus {
    box-shadow: unset;
}

/* 3. Toast */
.toast-messages {
    position: fixed;
    left: 1%;
    bottom: 1%;
    z-index: 10000;
}

/* 4. Following Modal */
.followers-modal .modal-title,
.following-modal .modal-title {
    font-size: 16px;
}

/* 5. Unfollow Modal */
.unfollow-post-modal .modal-content {
    width: 400px;
}

.unfollow-post-modal > .modal-dialog-centered {
    justify-content: center;
}

.unfollow-post-modal button {
    background: none;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 14px;
}

.unfollow-post-modal button:active,
.unfollow-post-modal button:focus,
.unfollow-post-modal button:hover {
    background: none;
    opacity: 0.8;
    box-shadow: none;
}

/* 6. Profile Posts */
.profile-single-post:hover .profile-post-thumb {
    cursor: pointer;
    opacity: 1;
}

.profile-post-thumb {
    top: 0;
    left: 0;
    background-color: #0008;
    opacity: 0;
    transition: 0.3s;
}

.profile-post-thumb > div {
    font-size: 24px;
}

/* ************** Tablet and Mobile ************** */
@media (max-width: 1023px) {
}

/* ************** Tablet Responsive ************** */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* ************** Mobile Responsive ************** */
@media (max-width: 768px) {
    /* 1. Toast */
    .toast-messages {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    /* 2. Profile */
    .profile-top {
        flex-direction: column;
    }

    .profile-top-right {
        margin-top: 26px;
    }
}
